body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.781);
  background-color: rgba(236, 245, 247, 0.541);
}
h1 {
  font-size: 65px;
  font-weight: 500;
  display: inline;
}
ul {
  margin: 0;
  padding: 0 10px;
  margin-top: 6px;
  text-align: center;
}
li {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  list-style: none;
  margin-bottom: 5px;
}

.divflex {
  min-height: 400px;
  display: flex;
  align-items: center;
  margin-left: 109px;
}

.app-ctn {
  margin-top: 100px;
  padding: 10px 12px 0 12px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(224, 224, 224, 0.445);
}
.size {
  min-height: 400px;
}

.days {
  text-align: center;
  padding: 20px 0;
}

.search {
  width: 80%;
  position: relative;
  display: flex;
}
.search-bar {
  width: 100%;
  border: 1px solid rgb(216, 216, 216);
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.btn-search {
  float: right;
  border: none;
  background-color: rgb(210, 234, 240);
  padding: 6px 19px;
  border-radius: 0 5px 5px 0;
}
.location {
  margin-left: 20px;
  border: none;
  background-color: rgb(210, 234, 240);
  padding: 6px 19px;
  border-radius: 5px;
}
.location:hover {
  background-color: rgb(187, 225, 231);
}
.btn-search:hover {
  background-color: rgb(187, 225, 231);
}
.col-no-border {
  padding: 0;
}
.today-bar {
  position: relative;
  top: 35px;
  margin-top: 16%;
}
.city-title {
  margin-top: 160px;
  padding: 20px;
  padding-left: 117px;
}
.city-title h1 {
  margin: 0;
}

.city-title p {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
.city-title span {
  font-weight: 400;
}
.city-title div {
  margin-left: 10px;
  margin-top: 10px;
}

.temperature {
  font-size: 30px;
  font-weight: 300;
}
.temp-today {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.temp-today span {
  font-size: 50px;
  font-weight: 300;
}

.t-icon {
  font-size: 122px;
}
.w-icon {
  font-size: 35px;
}
.sun-icon {
  color: #f39c12;
}
.curved-bottom-gray {
  background-color: rgb(235, 246, 248);
  border-radius: 10px;
}

.week-days {
  margin-bottom: 4px;
}
.link-git {
  margin: 15px 0 10px 30px;
  font-size: 12px;
}
.div-temperature {
  position: relative;
  top: 27px;
  margin-bottom: 45px;
}
.uppercase::first-letter {
  text-transform: capitalize;
}
.active {
  color: rgba(0, 0, 0, 0.781);
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: rgba(0, 0, 0, 0.781);
  cursor: default;
  text-decoration: none;
}

#icon {
  position: relative;
  left: 14%;
}
#country {
  margin-left: 10px;
  font-size: 50px;
  font-weight: 300;
}
