body {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.781);
}
h1 {
  font-size: 65px;
  font-weight: 500;
}
h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0 10px;
  font-size: 20px;
}
li {
  text-decoration: none;
  list-style: none;
}

.app-ctn {
  margin-top: 100px;
  padding: 10px 12px 0 12px;
  border-radius: 30px;
  background-color: rgba(162, 227, 235, 0.075);
  border: 1px solid rgba(109, 152, 158, 0.226);
}
.size {
  min-height: 500px;
}

.days {
  text-align: center;
  padding: 20px 0;
}
.gray {
  background-color: #ace1e77c;
}
.search {
  width: 80%;
  position: relative;
  display: flex;
}
.search-bar {
  width: 100%;
  border: 1px solid rgb(216, 216, 216);
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.btn-search {
  float: right;
  border: none;
  background-color: rgba(162, 227, 235, 0.452);
  padding: 6px 19px;
  border-radius: 0 5px 5px 0;
}
.location {
  margin-left: 20px;
  border: none;
  background-color: rgba(162, 227, 235, 0.452);
  padding: 6px 19px;
  border-radius: 5px;
}
.btn-search:hover {
  background-color: rgba(162, 227, 235, 0.623);
}
.col-no-border {
  padding: 0;
}
.today-bar {
  position: relative;
  top: 35px;
  margin-top: 16%;
}
.city-title {
  margin-top: 75px;

  padding: 20px 50px;
}
.city-title h1 {
  margin-bottom: 25px;
}
.temperature {
  font-size: 30px;
  font-weight: 300;
}
.temp-today {
  font-size: 30px;
  margin: 0;
}

.temp-today span {
  font-size: 50px;
  font-weight: 300;
}

.t-icon {
  font-size: 122px;
}
.w-icon {
  font-size: 35px;
}
.sun-icon {
  color: #f39c12;
}
.curved-bottom-gray {
  background-color: rgba(162, 227, 235, 0.178);
  border-radius: 30px;
}
.week-days {
  margin-bottom: -2px;
}
.link-git {
  margin: 15px 0 10px 30px;
  font-size: 12px;
}
#toda-date {
  display: block;
}
#retrive-location:hover {
  background-color: rgba(162, 227, 235, 0.623);
}
